<%- include('templates/header') %>

<%if(locals.recipe){%>
  <%- include('ai-recipe', {
    name: recipe.name || "Error",
    ingredients: recipe.ingredients || ["Error"],
    servings: recipe.serving_size || "Error",
    steps: recipe.steps || ["Error"],
    time: recipe.cook_time || "Error",
    restrictions: restrictions || ["Error"]}) %>
  
  <%}else if(locals.originalRecipe){%>
    <p>Loading</p> 
  <%}else{%>
    <img class="h-36 mr-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/2048px-ChatGPT_logo.svg.png"/>\
    <p>Error loading AI Recipe</p>
    <%}%>

    <!-- ChatGPT Logo -->
   
    <button type="submit" class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-mmpr rounded-md hover:bg-mmse focus:outline-none focus:bg-mmse" value="Update" onclick="generate()">
      Regenerate
    </button>


  <script>


    //If recipe is passed in, generate recipe
    <%if(locals.originalRecipe){%>
      //Get original recipe
      let originalRecipe = {
        name: "<%=locals.originalRecipe.name%>",
        ingredients: [],
        steps: []
      };
      
      //Get ingredients
      <%for (let i = 0; i < locals.originalRecipe.ingredientArray.length; i++) {%>
        originalRecipe.ingredients.push("<%=locals.originalRecipe.ingredientArray[i]%>");
      <%}%>

      //Get steps
      <%
      parsingSteps = locals.originalRecipe.steps;
      parsingSteps = parsingSteps.replaceAll("[", "");
      parsingSteps = parsingSteps.replaceAll("]", "");
      parsingSteps = parsingSteps.replaceAll("\"", "");
      var recipeSteps = parsingSteps.split("', '");
      for (var i = 0; i < recipeSteps.length; i++){
        recipeSteps[i]=recipeSteps[i].replaceAll("'", "");
      }
      %>
      <%for (let i = 0; i < recipeSteps.length; i++) {%>
        originalRecipe.steps.push("<%=recipeSteps[i]%>");
      <%}%>
     
      generate();
    <%}%>


    async function generate(){
      let dietaryRestrictions = "that meets dietary restrictions:";
    //Check if user is logged in
      let restrictionsArray = [];
      <%if (locals.restrictionsArray) {%>
      <%if (Array.isArray(locals.restrictionsArray)){%>
      
        <%for (let i = 0; i < locals.restrictionsArray.length; i++){%>
          restrictionsArray.push("<%=locals.restrictionsArray[i]%>");
        <%}%>
      <%}else{%>
        restrictionsArray.push("<%=locals.restrictionsArray%>");
      <%}%>

          if (Array.isArray(restrictionsArray)) {
            for (let i = 0; i < restrictionsArray.length; i++) {
              dietaryRestrictions += ` ${restrictionsArray[i]},`;
            }
          } else {
            dietaryRestrictions += ` ${restrictionsArray},`;
          }

      <%} else {%>
        dietaryRestrictions += ` none`;
      <%}%>
    
    // Only uses title of recipe
    //   let recipeName = "<%=//locals.originalRecipe.name%>";
    //   let request = `recipe for ${recipeName} ${dietaryRestrictions}. 
    // formatted as a JSON object with keys: name (string), ingredients (array of strings), serving_size (string), steps (array of strings), cook_time (string).
    // `;
        
    //Uses full original recipe
    let request = `recipe for ${originalRecipe.name} ${dietaryRestrictions}. based on the orginal recipe made with`;
    for (let i = 0; i < originalRecipe.ingredients.length; i++) {
      request += ` ${originalRecipe.ingredients[i]},`;
    }
    request += ` and the following steps:`;
    for (let i = 0; i < originalRecipe.steps.length; i++) {
      request += ` ${originalRecipe.steps[i]},`;
    }

    //send request to server
    let response = await fetch("/ai-recipe", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ request }),
    });
    //response = await response.json();
    console.log("response :D",response);
    
    

    }
  

  </script>
<%- include('templates/footer') %>