



<div class="mx-auto max-w-3xl border rounded-lg p-8 flex flex-col items-center8 bg-beige-50">
  <!-- Recipe Title and Subtitle -->
  <div class="mb-4">
    <h1 class="text-3xl font-bold"><%= recipe.name %></h1>
   
    <form <%if(locals.aiBookmarked && aiBookmarked){%>action="airecipe-unsave"<%}else{%>action="airecipe-save"<%}%> method="post">
      <button recipe.name="id" value="<%=recipe.originalRecipeID%>" type="submit" class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-green-700 rounded-md hover:bg-green-500 focus:outline-none focus:bg-green-600"><%if(locals.aiBookmarked && aiBookmarked){%>Remove From Bookmarks<%}else{%>Bookmark<%}%></button>
    </form>
   
    <div class="border-b-2 my-4"></div>
    <p class="text-gray-600 mb-2"><strong>Review:</strong> 4.5/5</p>
    <p class="text-gray-600 mb-2"><strong>Prep/Cook Time:</strong> <%=recipe.make_time%></p>
    <p class="text-gray-600 mb-2"><strong>Serving Size:</strong> <%=recipe.serving_size %></p>
    <div class="border-b-2 my-4"></div>
  </div>
  
  
  
    <!-- Recipe tags -->
  <div class="flex flex-wrap mb-4">
    <%for (var i = 0; i < recipe.restrictions.length; i++) {%>
      <span class="text-sm bg-gray-200 text-gray-700 px-2 py-1 rounded-full mr-2 mb-2">#<%=recipe.restrictions[i]%></span>
    <% } %>
      <!-- Add more tags as needed -->
  </div>


  <!-- Recipe Image -->
  <img class="mx-auto mb-8 max-w-full md:max-w-md lg:max-w-lg xl:max-w-xl"
  <%if (locals.recipe.imageURL) { %> 
    src="<%=recipe.imageURL%>"
  <% } else { %>
    src="https://media.istockphoto.com/id/184276935/photo/empty-plate-on-white.jpg?s=612x612&w=0&k=20&c=ZRYlQdMJIfjoXbbPzygVkg8Hb9uYSDeEpY7dMdoMtdQ="
  <% } %>
   alt="Error Loading Image" class="mb-8">

  <!-- Box 2: Ingredients -->
  <div class="mb-8">
    <h2 class="text-xl font-bold mb-4">Ingredients</h2>
    <ul>
        <% for (var i = 0; i < recipe.ingredients.length; i++) { %>
        <li class="mb-2"><%= recipe.ingredients[i] %></li>
        <% }%>
    </ul>
  </div>

  <!-- Box 3: Instructions -->
  <div>
    <h2 class="text-xl font-bold mb-4">Instructions</h2>
        <% for (var j = 0; j < recipe.steps.length; j++) { %>
      <p class="mb-4"><strong><%= j+1 %> </strong><%= recipe.steps[j] %></p>
      <% } %>
  </div>
</div>







