<%- include('templates/header') %>

<h3 class="text-lg font-semibold text-mmpr capitalize justify-center mb-4">Dietary Preferences</h3>

<hr>




<form action="/dietUpdate" method="post" class="mt-4">
    <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4">
        <%for (let i = 0; i < restrictions.length; i++) {%>
        <div class="flex items-center">
            <input type="checkbox" name="diet" value=<%=restrictions[i]%> <% if(currentDiet.includes(restrictions[i])) { %>checked<% } %>>
            <label class="text-mmpr" for=<%=restrictions[i]%>><%=restrictions[i]%></label>
        </div>
        <% } %>
        
    </div>
    <div class="text-center mt-4 pb-5">
        <button type="submit" class="bg-mmpr hover:bg-mmse text-mmfo font-bold py-2 px-4 rounded mr-2">Save</button>
        <a href="/profile" class="bg-mmfo border-mmpr border hover:bg-mmth text-mmpr font-bold py-2 px-4 rounded">Return to profile</a>
    </div>

</form>

<%- include('templates/footer') %>
