<%- include('templates/header') %>
<h1 class="text-3xl font-semibold text-mmpr justify-center mb-4 text-center mt-4 font-title">Welcome, <%- firstname %> ! </h1>

<!-- Search Area -->
<form type="text" action="/search"  class="h-[30vmin]">   
  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
  <div id="search-area" class="relative">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
      </div>
      <input name="search" type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search for a recipe" required>
      <button type="submit" class="text-mmfo absolute right-2.5 bottom-2.5 bg-mmpr hover:bg-mmse focus:ring-4 focus:outline-none focus:ring-mmth font-medium rounded-lg text-sm px-4 py-2 ">Search</button>
  </div>
</form>





<!-- Recent Recipes Area -->

<%if (recipes.length > 0){%>
<h1 class="text-3xl font-semibold text-mmpr justify-center mb-4 text-center mt-4 font-title">Make it again!</h1>

<div id="recent-recipes" class="bg-green-950">
  <label class="text-mmfo" for="recipe-scroll">Recent Recipes</label>
  <div id="recipe-scroll" class=" w-auto overflow-x-scroll flex gap-3 p-2">
    
    
    <%for (let i = recipes.length-1; i >= 0; i--) {%>
      <div class="flex-shrink-0 min-w-[300px] mx-4">
      <%- include('templates/recipe-card', {recipe: recipes[i], time: times[i], image: images[i]}) -%>
      </div>
      <%}%>
  </div>
  <!-- More Button -->
  <%if (recipes.length > 10){%>
  <button id="more-recipes" type="submit" class="text-mmfo bg-mmpr hover:bg-mmse focus:ring-4 focus:outline-none focus:ring-mmth font-medium rounded-lg text-sm px-4 py-2 m-3 hidden md:block">More</button>
  <%}%>
<%}%>

  
</div>

<div id="recipe-modal" tabindex="-1" class="hidden fixed z-50 w-[calc(100%-1rem)] p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-max max-h-full">
        <!-- Modal content -->
        <div class="relative rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-5 border-b rounded-t bg-mmfo border-t-2 border-l-2 border-r-2 border-mmpr">
                <h3 class="text-xl font-medium text-gray-900">
                    Recently visited recipes
                </h3>
                <button id="close-recipes" type="button" class="text-green-950  bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="extralarge-modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6 flex flex-row flex-wrap justify-around bg-green-950 border-b-2 border-l-2 border-r-2 border-mmpr">
              <%if (recipes.length > 10){%>
              <%for (let i = recipes.length-1; i >= 0; i--) {%>
                <%- include('templates/recipe-card', {recipe: recipes[i], time: times[i], image: images[i]}) -%>
              <%}}%>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b">
            </div>
        </div>
    </div>
</div>

<script>

//Modal
console.log("Recipes: ", <%=recipes.length%>);
if (<%=recipes.length%> > 10) {
  // Get the modal
  var modal = document.getElementById("recipe-modal");

  // Get the button that opens the modal
  var btn = document.getElementById("more-recipes");

  var closeModal = document.getElementById("close-recipes");

  //Hide the modal
  function hideModal() {
    modal.classList.add("hidden");
  }

  // When the user clicks the button, open the modal
  btn.onclick = function() {
    modal.classList.remove("hidden");
  }

  btn.addEventListener("keyup", (event)=>{
    if (event.key === "Escape") {
      hideModal();
    }
  })

  closeModal.onclick = function() {
    hideModal();
  }

  modal.addEventListener("keyup", (event)=>{
    if (event.key === "Escape") {
      hideModal();
    }
  })
}

</script>

<%- include('templates/footer') %>