<%- include ('templates/header') %>


<div class="p-16">
  <div class="p-8 bg-white shadow mt-24">
    <div class="grid grid-cols-1 md:grid-cols-3">
      <div class="grid grid-cols-3 text-center order-last md:order-first mt-20 md:mt-0">
        <div>
          <p class="font-bold text-gray-700 text-xl">20</p>
          <p class="text-gray-400">Saved Recipes</p>
        </div>
        <div>
          <p class="font-bold text-gray-700 text-xl">10</p>
          <p class="text-gray-400">Reviews</p>
        </div>
        <div>
          <p class="font-bold text-gray-700 text-xl">5</p>
          <p class="text-gray-400">Saved AI Recipes</p>
        </div>
      </div>
      <div class="relative">
        <div class="w-48 h-48 mx-auto absolute inset-x-0 top-0 -mt-24">
          <div
            class="rounded-full overflow-hidden w-full h-full bg-indigo-100 shadow-2xl flex items-center justify-center">
            <img class="w-full h-full object-cover" src="/public/avatar-gene2da1ab92aa0244882177a848c7193aa.jpg" />
          </div>
        </div>
      </div>

      <div class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center">
        <form action="/dietEdit">
          <button
<<<<<<< HEAD
            class="text-white py-2 px-4 uppercase rounded text-sm bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5"
            id="diet"
          >
=======
            class="text-white py-2 px-4 uppercase rounded bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5"
            id="diet">
>>>>>>> 99e7f1e95b61625697205215505a77cb6c225f23
            Edit dietary Restrictions
          </button>
        </form>
        <form action="/change-password">
          <button
<<<<<<< HEAD
            class="text-white py-2 px-4 uppercase rounded text-sm bg-gray-700 hover:bg-gray-800 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5"
          >
=======
            class="text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
>>>>>>> 99e7f1e95b61625697205215505a77cb6c225f23
            Change password
          </button>
        </form>
      </div>
    </div>

    <div class="mt-20 text-center border-b pb-12">
      <h1 class="text-4xl font-medium text-gray-700">
        <%=session.firstname%> <%=session.lastname%>,
        <span class="font-light text-gray-500">27</span>
      </h1>

      <button id="edit2"
        class="mt-4 px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-500 focus:outline-none focus:bg-gray-600">Edit
        Username</button>
      <div class="max-w-screen-sm mx-auto">
        <form action="/profileUpdate" method="post">
          <fieldset id="editable2" disabled="true">
            <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2 flex-col">
              <div>
                <label class="text-gray-700" for="username">Username</label>
                <input id="username" name="username" type="text" placeholder="Username" value="<%=session.username%>"
                  required
                  class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 focus:outline-none focus:ring" />
              </div>
              <div>
                <label class="text-gray-700" for="email">Email</label>
                <input id="email" type="email" name="email" placeholder="Email" value="<%=session.email%>"
                  class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:border-blue-500 blue-500 focus:outline-none focus:ring" />
              </div>
            </div>

            <div class="flex justify-center mt-6">
              <button type="submit"
                class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-green-700 rounded-md hover:bg-green-500 focus:outline-none focus:bg-green-600"
                value="Update" onclick="return confirm('Are you sure?')">
                Update
              </button>
            </div>
          </fieldset>
        </form>
      </div>




      <!-- <p class="font-light text-gray-600 mt-3">Bucharest, Romania</p>

      <p class="mt-8 text-gray-500">Solution Manager - Creative Tim Officer</p>
      <p class="mt-2 text-gray-500">University of Computer Science</p> -->
    </div>

    <div class="mt-12 flex flex-col justify-center">


      <!-- Saved Recipes Area -->
      <div id="saved-recipes" class="bg-gray-700">
        <label class="text-white" for="recipe-scroll">Bookmarked Recipes</label>
        <div id="recipe-scroll" class=" w-auto overflow-x-scroll flex gap-3 p-2">
          <%if (bookmarks != undefined) {
          for (let i = 0; i < bookmarks.length; i++) {%>

          <!-- Item -->
          <div class=" flex-none text-center bg-white border border-gray-200 rounded-lg w-96">
            <img class="rounded-t-lg w-[100%] object-contain " src="https://picsum.photos/100/100" alt="" />
            <div class=" p-5 ">
              <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"><%=bookmarks[i].name%></h5>
              </a>
              <p class="mb-3 font-normal text-gray-700">Awesome delicious dish </p>
              <a href="/recipe?id=<%=bookmarks[i]._id%>"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                View Recipe
                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg>
              </a>
            </div>
          </div>

          <%}}%>

  </div>
  <!-- More Button -->
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 m-3 ">More</button>
      </div>
      <button class="text-indigo-500 py-2 px-4 font-medium mt-4">
        Show more
      </button>
    </div>
  </div>
</div>

<!--TODO: Does this do anything? there is no id of "edit" -->
<!-- <script>
  document.getElementById("edit").addEventListener("click", function () {
    if (document.getElementById("editable").disabled == true) {
      document.getElementById("editable").disabled = false;
    } else {
      document.getElementById("editable").disabled = true;
    }
  });
</script> -->

<script>
    document.getElementById("edit2").addEventListener("click", function () {
      if (document.getElementById("editable2").disabled == true) {
        document.getElementById("editable2").disabled = false;
      } else {
        document.getElementById("editable2").disabled = true;
      }
    });
  </script>

<%- include('templates/footer') %>