<%- include('templates/header') %>

<div class="container w-full bg-mmse">
  <div class="mx-auto max-w-3xl border rounded-lg p-8 flex flex-col items-center8 bg-mmfo">
    <!-- Recipe Title and Subtitle -->
    <div class="mb-4">
      <h1 class="text-3xl font-bold mb-4 font-title text-green-950"><%= name %></h1>
      <form <%if(bookmarked){%>action="recipe-unsave"<%}else{%>action="recipe-save"<%}%> method="post">
        <button name="id" value="<%=id%>" type="submit" class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-green-700 rounded-md hover:bg-green-500 focus:outline-none focus:bg-green-600"><%if(bookmarked){%>Remove From Bookmarks<%}else{%>Bookmark<%}%></button>
      </form>
      <div class="border-b-2 border-mmse my-4"></div>
      <p class="text-gray-600 mb-2"><strong>Prep/Cook Time:</strong> <%= time%></p>
      <p class="text-gray-600 mb-2"><strong>Number of Portions:</strong> <%= servings %> servings</p>
      <p class="text-gray-600 mb-2"><strong>Portions Size:</strong> <%= size %> serving</p>
      <div class="border-b-2 border-mmse mt-4 mb-2"></div>
    </div>
    

      <!-- Recipe tags / search terms -->

    <h2 class="text-xl font-bold mb-1 text-mmpr">Common Terms</h2>
    <div class="flex flex-wrap mb-4">  
        <% for (var i = 0; i < searchterms.length; i++) {%>
          <span class="text-sm bg-mmse text-mmfo border border-mmpr px-2 py-1 rounded-full mr-2 mb-2 capitalize"><%= searchterms[i] %></span>
        <% } %>
        <!-- Add more tags as needed -->
    </div>


    <!-- Recipe Image -->
    <img class="mx-auto mb-8 max-w-full md:max-w-md lg:max-w-lg xl:max-w-xl" src="<%= Image%>" alt="Recipe" width="400">


    <!-- Box 1: Ingredients -->
    <div class="mb-8">
      <h2 class="text-xl font-bold mb-4 text-mmpr">Ingredients</h2>
      <ul>
          <% for (var i = 0; i < ingredients.length; i++) { %>
          <li class="mb-2"><%= ingredients[i] %></li>
          <% }%>
      </ul>
    </div>

    <!-- Box 2: Instructions -->
    <div>
      <h2 class="text-xl font-bold mb-4 text-mmpr">Instructions</h2>
          <% for (var j = 0; j < steps.length; j++) { %>
        <p class="mb-4"><strong><%= j+1 %> </strong><%= steps[j] %></p>
        <% } %>
    </div>


    <!-- AI Button -->
    <%- include('templates/ai-button') %>

  </div>  
</div>

<script>

  window.addEventListener('load', function() {
    var egg = 'egg';
    var easter = '/easter-egg';
    var body = document.querySelector('body');
  
    replaceTextWithLink(body, egg, easter);
  });

  function replaceTextWithLink(element, keyword, linkURL) {
    if (element.nodeType === Node.TEXT_NODE) {
      var content = element.textContent;
      var regex = new RegExp(keyword, 'gi');
    if (regex.test(content)) {
      var newContent = content.replace(regex, '<a href="' + linkURL + '">$&</a>');
      var span = document.createElement('span');
      span.innerHTML = newContent;
      element.parentNode.replaceChild(span, element);
      }
    } else {
    var childNodes = element.childNodes;
    for (var i = 0; i < childNodes.length; i++) {
      replaceTextWithLink(childNodes[i], keyword, linkURL);
    }
  }
}





</script>



<%- include('templates/footer') %>
