<%- include('templates/header') -%>
            <!-- new layout starts here -->
            <form action="/searchIngredients?search=" method="get" id="submitForm" >
            <div class="container mx-auto p-4">
                <!-- Dropdown Menu and Advanced Filters Button -->
              <h1 class="text-4xl font-bold mb-4 font-title text-mmpr flex text-center justify-center">Mealmatch - Select your ingredients</h1>

                <div class="flex justify-between items-center mb-4">
                  <select class="p-2 rounded border bg-mmth" name="time">
                    <option name="time" value="0">Prep Time</option>
                    <option name="time" value="15">15 Minutes</option>
                    <option name="time" value="30">30 Minutes</option>
                    <option name="time" value="60">60 Minutes</option>
                    <option name="time" value="4">60+ Minutes</option>
                  </select>
                  <a class="bg-mmse hover:bg-mmpr text-mmfo py-2 px-4 rounded" onclick="openModal()">Advanced Filters</a>
                </div>

                <!-- Modal -->
                <div id="modal" class="fixed inset-0 flex items-center justify-center z-50 hidden">
                  <div class="bg-mmth rounded-lg p-6 max-w-md w-full md:w-auto border border-mmpr">
                    <div class="flex justify-end">
                      <a class="text-gray-600 hover:text-gray-800" onclick="closeModal()">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                      </a>
                    </div>
                    <h2 class="text-lg font-semibold mb-4">Dietary Restrictions</h2>
                    <div class="mb-4">
                      <label class="flex items-center">
                        <input type="checkbox" class="form-checkbox mr-2" name="diet" value="vegan">
                        vegan
                      </label>
                      <label class="flex items-center">
                        <input type="checkbox" class="form-checkbox mr-2" name="diet" value="vegetarian">
                        vegetarian
                      </label>
                      <label class="flex items-center">
                        <input type="checkbox" class="form-checkbox mr-2" name="diet" value="dairy-free">
                        dairy-free
                      </label>
                      <label class="flex items-center">
                        <input type="checkbox" class="form-checkbox mr-2" name="diet" value="healthy">
                        healthy
                      </label>
                      <label class="flex items-center">
                        <input type="checkbox" class="form-checkbox mr-2" name="diet" value="gluten-free">
                        gluten-free
                      </label>
                      <label class="flex items-center">
                        <input type="checkbox" class="form-checkbox mr-2" name="diet" value="low-fat">
                        low-fat
                      </label>
                      <label class="flex items-center">
                        <input type="checkbox" class="form-checkbox mr-2" name="diet" value="low-sodium">
                        low-sodium
                      </label>
                      <label class="flex items-center">
                        <input type="checkbox" class="form-checkbox mr-2" name="diet" value="low-carb">
                        low-carb
                      </label>
                      <!-- Add more checkboxes placeholders here -->
                    </div>
                    <% if (profileDiet && session.useDiet) { %>
                    <h2 class="text-lg font-semibold mb-4">Your Dietary Restrictions</h2>
                    <ul>
                    <% if (Array.isArray(profileDiet)) { %>
                    <% for (var i = 0; i < profileDiet.length; i++) { %>
                    <li><%= profileDiet[i] %></li>
                    <% } %>
                    <% } else { %>
                    <li><%= profileDiet %></li>
                    <% } %>
                    </ul>
                    <% } %>
                    <% if (session.useDiet) { %>
                      <div class="py-3">
                     <a class="button bg-mmse hover:bg-mmpr text-mmfo py-2 px-4 rounded z-10" href="/useDiet?type=off&return=nope">Turn profile diet off</a>
                     </div>
                  <% } else { %>
                      <div class="py-3">
                      <a class="button bg-mmse hover:bg-mmpr text-mmfo py-2 px-4 rounded" href="/useDiet?type=on&return=nope">Turn profile diet on</a>
                      </div>
                  <% } %>
                  
                  </div>
                </div>
              </form>

                <!-- Search Bar with Add Button -->
                <div class="relative mt-4">
                    <form id="thisForm">
                        <input name="search" type="text" id="ingredient"
                        class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                        placeholder="Enter an Ingredient">
                        <button type="button" id="addBtn"
                  class="text-white absolute right-2.5 bottom-2.5 bg-mmse hover:bg-mmpr focus:ring-4 focus:outline-none focus:ring-mmth font-medium rounded-lg text-sm px-4 py-2 ">
                  Add
                  </button>
                    </form>
                </div>
                
                <!-- Ingredients List -->
                <div class="mt-4">
                  <!-- Ingredient item -->
                  <div class="flex items-center mb-2 flex-wrap" id="ingList">
                    <% if (current != undefined) { %>
                    <% for (var i = 0; i < current.length; i++) { %>
                    <span class="bg-mmse hover:bg-mmpr text-mmfo py-1 px-2 rounded-full flex items-center Initial">
                      <input type="text" class="bg-mmse hover:bg-mmpr text-mmfo outline-none pr-1 mr-1" name="search" value="<%= current[i]%>">
                      <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg" class="w-4 h-4 fill-current text-white cursor-pointer" viewBox="0 0 400 400" version="1.0">
                        <g transform="translate(1173.2 38.831)">
                          <g transform="matrix(.48018 0 0 .48018 -316.23 468.11)">
                            <path style="fill:#b7bcc3" d="m-1535.3-915.12-108.68 108.68 144.8 144.74c12.426 12.426 12.426 32.479 0 44.905l-144.8 144.8 108.68 108.68 144.8-144.8c12.426-12.426 32.479-12.426 44.905 0l144.8 144.8 108.68-108.68-144.8-144.8c-12.426-12.426-12.426-32.479 0-44.905l144.8-144.74-108.68-108.68-144.8 144.74c-12.426 12.426-32.479 12.426-44.905 0l-144.8-144.74z"/>
                          </g>
                        </g>
                      </svg>
                    </span>
                  <% }}%>
                    <!-- Add more ingredient items -->
                  
                  </div>
                </div>

                <!-- Find Recipe Button -->
                <button class="bg-mmse hover:bg-mmpr text-mmfo py-2 px-4 mb-4 rounded w-full" id="search" type="submit" form="submitForm">Find Recipe</button>
                <script>
                    //Gets the initial query parameters from the last search and adds them to the search path
                    window.addEventListener("load", function () {
                      var initialList = document.getElementsByClassName("Initial");
                      for (var i = 0; i < initialList.length; i++){
                        initialList[i].addEventListener("click", function () {
                              this.remove();
                          });
                          var item = initialList[i].children[0].value;
                          var url = document.getElementById("submitForm");
                        if (url.getAttribute("action").substring(url.getAttribute("action").length - 1) == "="){
                            url.action += item.toLowerCase();
                        } else {
                            url.action += "&search=" + item.toLowerCase();
                        }
                      }
                    });
                    //Inserts a new card for an ingredient if the enter button is pressed
                    document.getElementById("ingredient").addEventListener("keypress", function (e) {
                      if (e.keyCode == 13){
                        e.preventDefault();
                        var textBox = document.getElementById("ingredient");
                        var item = textBox.value;
                        //Make span element
                        var newSpan = document.createElement("span");
                        newSpan.setAttribute("class", "bg-mmse hover:bg-mmpr text-mmfo py-1 px-2 rounded-full flex items-center");

                        //Make input element
                        var newBox = document.createElement("input");
                        newBox.setAttribute("type", "text");
                        newBox.setAttribute("name", "search")
                        newBox.setAttribute("value", item.toLowerCase());
                        newBox.setAttribute("class", "ingredientBtn bg-transparent text-mmfo outline-none pr-1 mr-1")
                        // newBox.setAttribute("disabled", true);
                        // newBox.innerHTML += item;
                        newSpan.addEventListener("click", function () {
                            this.remove();
                        });
                        newSpan.appendChild(newBox);

                        //make svg
                        var newSVG = document.createElementNS("http://www.w3.org/2000/svg", "svg");
                        newSVG.setAttribute("class", "w-4 h-4 fill-current text-white cursor-pointer");
                        newSVG.setAttribute("viewBox", "0 0 400 400");
                        newSVG.setAttribute("version", "1.0");
                        newSVG.innerHTML += `<g transform="translate(1173.2 38.831)">
                          <g transform="matrix(.48018 0 0 .48018 -316.23 468.11)">
                            <path style="fill:#b7bcc3" d="m-1535.3-915.12-108.68 108.68 144.8 144.74c12.426 12.426 12.426 32.479 0 44.905l-144.8 144.8 108.68 108.68 144.8-144.8c12.426-12.426 32.479-12.426 44.905 0l144.8 144.8 108.68-108.68-144.8-144.8c-12.426-12.426-12.426-32.479 0-44.905l144.8-144.74-108.68-108.68-144.8 144.74c-12.426 12.426-32.479 12.426-44.905 0l-144.8-144.74z"/>
                          </g>
                        </g>`;
                        newSpan.appendChild(newSVG);
                        document.getElementById("ingList").appendChild(newSpan);

                        // document.getElementById("submitForm").appendChild(newBox);
                        document.getElementById("thisForm").reset();
                        var url = document.getElementById("submitForm");
                        if (url.getAttribute("action").substring(url.getAttribute("action").length - 1) == "="){
                            url.action += item;
                        } else {
                            url.action += "," + item;
                        }   
                      }
                    });
                    //Inserts a new card for an ingredient if the add button is pressed
                    document.getElementById("addBtn").addEventListener("click", 
                    function () {
                        var textBox = document.getElementById("ingredient");
                        var item = textBox.value;
                        //Make span element
                        var newSpan = document.createElement("span");
                        newSpan.setAttribute("class", "bg-mmse hover:bg-mmpr text-mmfo py-1 px-2 rounded-full flex items-center");

                        //Make input element
                        var newBox = document.createElement("input");
                        newBox.setAttribute("type", "text");
                        newBox.setAttribute("name", "search")
                        newBox.setAttribute("value", item.toLowerCase());
                        newBox.setAttribute("class", "ingredientBtn bg-transparent text-mmfo outline-none pr-1 mr-1")
                        newSpan.addEventListener("click", function () {
                            this.remove();
                        });
                        newSpan.appendChild(newBox);

                        //make svg
                        var newSVG = document.createElementNS("http://www.w3.org/2000/svg", "svg");
                        newSVG.setAttribute("class", "w-4 h-4 fill-current text-white cursor-pointer");
                        newSVG.setAttribute("viewBox", "0 0 400 400");
                        newSVG.setAttribute("version", "1.0");
                        newSVG.innerHTML += `<g transform="translate(1173.2 38.831)">
                          <g transform="matrix(.48018 0 0 .48018 -316.23 468.11)">
                            <path style="fill:#b7bcc3" d="m-1535.3-915.12-108.68 108.68 144.8 144.74c12.426 12.426 12.426 32.479 0 44.905l-144.8 144.8 108.68 108.68 144.8-144.8c12.426-12.426 32.479-12.426 44.905 0l144.8 144.8 108.68-108.68-144.8-144.8c-12.426-12.426-12.426-32.479 0-44.905l144.8-144.74-108.68-108.68-144.8 144.74c-12.426 12.426-32.479 12.426-44.905 0l-144.8-144.74z"/>
                          </g>
                        </g>`;
                        newSpan.appendChild(newSVG);
                        document.getElementById("ingList").appendChild(newSpan);

                        // document.getElementById("submitForm").appendChild(newBox);
                        document.getElementById("thisForm").reset();
                        var url = document.getElementById("submitForm");
                        if (url.getAttribute("action").substring(url.getAttribute("action").length - 1) == "="){
                            url.action += item;
                        } else {
                            url.action += "," + item;
                        }   
                    });
                </script>
                
                  <!-- Ingredient Categories -->
                  <div class="mt-5">
                    <h1 class="text-center text-lg font-bold mb-5 text-mmpr">Most Common Ingredients</h1>
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                      
                      <!-- Category 1 -->
                      <div x-data="{ open: false }">
                        <label @click="open = !open" class="cursor-pointer flex items-center">
                          <div class="rounded-full overflow-hidden w-9 h-9 mr-1">
                            <img src="/public/images/spices.webp" alt="Category 1" class="h-full w-full mr-2">
                          </div>
                          <h2 class="text-lg font-semibold text-mmpr">Spices and Herbs</h2>
                        </label>

                        <!-- Ingredients in Category 1 -->
                        <div x-show="open" class="mt-2 grid grid-cols-2 gap-4">
                          <!-- Ingredient item -->
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="salt" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">salt</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="black pepper" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">black pepper</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="garlic" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">garlic</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="cinnamon" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">cinnamon</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="paprika" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">paprika</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="parsley" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">parsley</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="chili powder" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">chili powder</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="nutmeg" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">nutmeg</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="cumin" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">cumin</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="cayenne pepper" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">cayenne pepper</span>
                          </label>
                          <label class="flex items-center">
                              <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="oregano" onclick="addIngredient(this.name)">+</button>
                              <span class="ml-2 text-mmpr capitalize">oregano</span>
                          </label>
                          <label class="flex items-center">
                              <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="kosher salt" onclick="addIngredient(this.name)">+</button>
                              <span class="ml-2 text-mmpr capitalize">kosher salt</span>
                          </label>
                          <label class="flex items-center">
                              <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="cilantro" onclick="addIngredient(this.name)">+</button>
                              <span class="ml-2 text-mmpr capitalize">cilantro</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="ginger" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">ginger</span>
                          </label>


                          <!-- Add more ingredient items -->
                        </div>
                      </div>

                      <!-- Category 2 -->
                      <div x-data="{ open: false }">
                        <label @click="open = !open" class="cursor-pointer flex items-center">
                          <div class="rounded-full overflow-hidden w-9 h-9">
                            <img src="/public/images/fruits.jpg" alt="Category 2" class="w-full h-full mr-2">
                          </div>
                          <h2 class="text-lg font-semibold text-mmpr">Fruits</h2>
                        </label>

                        <!-- Ingredients in Category 2 -->
                        <div x-show="open" class="mt-2 grid grid-cols-2 gap-4">
                          <!-- Ingredient item -->
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="lemon juice" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">lemon juice</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="raisins" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">raisins</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="orange juice" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">orange juice</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="lime juice" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">lime juice</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="lemon" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">lemon</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="banana" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">banana</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="avocado" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">avocado</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="apple" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">apple</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="coconut" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">coconut</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="pineapple" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">pineapple</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="dried cranberry" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">dried cranberry</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="blueberry" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">blueberry</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="lime" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">lime</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="strawberry" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">strawberry</span>
                          </label>



                          <!-- Add more ingredient items -->
                        </div>
                      </div>
                      <!-- Category 3 -->
                      <div x-data="{ open: false }">
                        <label @click="open = !open" class="cursor-pointer flex items-center">
                          <div class="rounded-full overflow-hidden w-9 h-9 mr-1">
                            <img src="/public/images/meat.jpg" alt="Category 3" class="w-full h-full mr-2">
                          </div>
                          <h2 class="text-lg font-semibold text-mmpr">Meat / Seafood</h2>
                        </label>

                        <!-- Ingredients in Category 3 -->
                        <div x-show="open" class="mt-2 grid grid-cols-2 gap-4">
                          <!-- Ingredient item -->
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="bacon" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">bacon</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="ground beef" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">ground beef</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="chicken breast" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">chicken breast</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="ham" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">ham</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="shrimp" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">shrimp</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="chicken drumstick" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">chicken drumstick</span>
                          </label>

                          <!-- Add more ingredient items -->
                        </div>
                      </div>

                      <!-- Category 4 -->

                      <div x-data="{ open: false }">
                        <label @click="open = !open" class="cursor-pointer flex items-center">
                          <div class="rounded-full overflow-hidden w-9 h-9 mr-1">
                          <img src="/public/images/vegetables.jpg" alt="Category 4" class="w-full h-full mr-2">
                          </div>
                          <h2 class="text-lg font-semibold text-mmpr">Vegetables</h2>
                        </label>

                        <!-- Ingredients in Category 4 -->
                        <div x-show="open" class="mt-2 grid grid-cols-2 gap-4">
                          <!-- Ingredient item -->
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="onion" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">onion</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="tomato" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">tomato</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="celery" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">celery</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="carrot" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">carrot</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="green onion" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">green onion</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="green pepper" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">green pepper</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="red bell pepper" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">red bell pepper</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="potato" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">potato</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="zucchini" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">zucchini</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="mushroom" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">mushroom</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="black beans" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">black beans</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="cucumber" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">cucumber</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="shallot" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">shallot</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="lettuce" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">lettuce</span>
                          </label>

                          <!-- Add more ingredient items -->
                        </div>
                      </div>
                      
                      <!-- Category 5 -->

                      <div x-data="{ open: false }">
                        <label @click="open = !open" class="cursor-pointer flex items-center">
                          <div class="rounded-full overflow-hidden w-9 h-9 mr-1">
                          <img src="/public/images/dairy.jpg" alt="Category 5" class="w-full h-full mr-2">
                          </div>
                          <h2 class="text-lg font-semibold text-mmpr">Dairy</h2>
                        </label>

                        <!-- Ingredients in Category 5 -->
                        <div x-show="open" class="mt-2 grid grid-cols-2 gap-4">
                          <!-- Ingredient item -->
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="butter" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">butter</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="egg" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">egg</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="milk" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">milk</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="parmesan cheese" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">parmesan cheese</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="sour cream" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">sour cream</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="cheddar cheese" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">cheddar cheese</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="cream" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">cream</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="cream cheese" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">cream cheese</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="mozzarella cheese" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">mozzarella cheese</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="margarine" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">margarine</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="buttermilk" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">buttermilk</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="condensed milk" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">condensed milk</span>
                          </label>

                          <!-- Add more ingredient items -->
                        </div>
                      </div>
              
                      <!-- Category 6 -->

                      <div x-data="{ open: false }">
                        <label @click="open = !open" class="cursor-pointer flex items-center">
                          <div class="rounded-full overflow-hidden w-9 h-9 mr-1">
                          <img src="/public/images/nuts-seeds.jpeg" alt="Category 7" class="w-full h-full mr-2">
                          </div>
                          <h2 class="text-lg font-semibold text-mmpr">Grains, nuts and seeds</h2>
                        </label>

                        <!-- Ingredients in Category 6 -->
                        <div x-show="open" class="mt-2 grid grid-cols-2 gap-4">
                          <!-- Ingredient item -->
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="flour" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">flour</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="pecans" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">pecans</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="walnuts" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">walnuts</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="nuts" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">nuts</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="peanut butter" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">peanut butter</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="sesame seeds" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">sesame seeds</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="almonds" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">almonds</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="tortillas" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">tortillas</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="rice" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">rice</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="pine nuts" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">pine nuts</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="oats" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">oats</span>
                          </label>

                          <!-- Add more ingredient items -->
                        </div>
                      </div> 


                      <!-- Category 7 -->

                      <div x-data="{ open: false }">
                        <label @click="open = !open" class="cursor-pointer flex items-center">
                          <div class="rounded-full overflow-hidden w-9 h-9 mr-1">
                          <img src="/public/images/condiments.jpg" alt="Category 8" class="w-full h-full mr-2">
                          </div>
                          <h2 class="text-lg font-semibold text-mmpr">Condiments, flavoring and oils</h2>
                        </label>

                        <!-- Ingredients in Category 7 -->
                        <div x-show="open" class="mt-2 grid grid-cols-2 gap-4">
                          <!-- Ingredient item -->
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="olive oil" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">olive oil</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="baking powder" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">baking powder</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="baking soda" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">baking soda</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="vegetable oil" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">vegetable oil</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="soy sauce" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">soy sauce</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="mayonnaise" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">mayonnaise</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="worcestershire sauce" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">worcestershire sauce</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="dijon mustard" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">dijon mustard</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="tomato sauce" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">tomato sauce</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="ketchup" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">ketchup</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="vinegar" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">vinegar</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="tabasco sauce" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">tabasco sauce</span>
                          </label>

                          <!-- Add more ingredient items -->
                        </div>
                      </div> 

                      <!-- Category 8 -->

                      <div x-data="{ open: false }">
                        <label @click="open = !open" class="cursor-pointer flex items-center">
                          <div class="rounded-full overflow-hidden w-9 h-9 mr-1">
                          <img src="/public/images/sugarprod.jpg" alt="Category 9" class="w-full h-full mr-2">
                          </div>
                          <h2 class="text-lg font-semibold text-mmpr">Sweeteners and Sugar Products</h2>
                        </label>

                        <!-- Ingredients in Category 8 -->
                        <div x-show="open" class="mt-2 grid grid-cols-2 gap-4">
                          <!-- Ingredient item -->
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="sugar" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">sugar</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="brown sugar" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">brown sugar</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="honey" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">honey</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="powdered sugar" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">powdered sugar</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="chocolate chips" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">chocolate chips</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="caster sugar" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">caster sugar</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="molasses" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">molasses</span>
                          </label>

                          <!-- Add more ingredient items -->
                        </div>
                      </div> 
                      
                      <!-- Category 9 -->

                      <div x-data="{ open: false }">
                        <label @click="open = !open" class="cursor-pointer flex items-center">
                          <div class="rounded-full overflow-hidden w-9 h-9 mr-1">
                          <img src="/public/images/unknown.png" alt="Category 10" class="w-full h-full mr-2">
                          </div>
                          <h2 class="text-lg font-semibold text-mmpr">Other</h2>
                        </label>

                        <!-- Ingredients in Category 9 -->
                        <div x-show="open" class="mt-2 grid grid-cols-2 gap-4">
                          <!-- Ingredient item -->
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="chicken broth" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">chicken broth</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="vanilla" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">vanilla</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="cornstarch" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">cornstarch</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="chicken stock" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">chicken stock</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="breadcrumbs" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">breadcrumbs</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="white wine" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">white wine</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="shortening" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">shortening</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="cream of mushroom soup" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">cream of mushroom soup</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="black olives" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">black olives</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="beef broth" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">beef broth</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="cream of chicken soup" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">cream of chicken soup</span>
                          </label>
                          <label class="flex items-center">
                            <button class="text-mmfo bg-mmpr ml-2 rounded px-4" name="vegetable broth" onclick="addIngredient(this.name)">+</button>
                            <span class="ml-2 text-mmpr capitalize">vegetable broth</span>
                          </label>



                          <!-- Add more ingredient items -->
                        </div>
                      </div>    


                      <!-- other categories go here-->
 
                    </div>
                  </div>

                  
                  
  
  
                <!-- close container tag -->
              </div>
              
            <!-- new layout ends here -->

            <!-- <% if (recipes) { %>
              <h3>Recipes</h3>
              <% for (let i=0; i < recipes.length; i++) { %>
      
                  <div
                      class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                      <a href="#">
                          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= recipes[i].name.replace(/&quot;/g, '\"' ) %></h5>
                      </a>
                      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Ingredients:
                          <ul>
                              <% for (let j=0; j < recipes[i].ingredientArray.length; j++) {%>
                                  <li>
                                      <%= recipes[i].ingredientArray[j]%>
                                  </li>
                                  <% } %>
                          </ul>
                          <p>Servings: <%= recipes[i].servings %>
                          </p>
                          <p>Prep Time: <%= times[i] %>
                          </p>
                          </p>
                      <a href="/recipe?id=<%= recipes[i]._id %>&time=<%= times[i] %>"
                          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                          View Recipe
                          <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd"
                                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                          </svg>
                      </a>
                  </div>
      
                  <% }} %> -->

            <!-- new results layout start here -->
            <% if (recipes) { %>
              <div class="flex flex-col items-center justify-center bg-gradient-to-tr from-mmpr to-mmth ml-3 mr-3 rounded border border-mmpr">

              <h3 class="text-4xl font-medium text-gray-950 items-center flex justify-center pt-3">Recipes with

              
              <% if(current != undefined) { %>
                <% for (let i= 0; i < current.length; i++) { %>
                <%= current[i]%>
                <% } %>
              <% } else { %>
                <% } %>
                
              </h3>
              <!--Recipe List-->
              <div class="min-h-screen flex justify-center items-center py-20">
                <div class="md:px-4 md:grid md:grid-cols-2 lg:grid-cols-3 gap-5 space-y-4 md:space-y-0">
              <% for (let i=0; i < recipes.length; i++) { %>
                  <% var recipe = recipes[i] %>
                  <%- include('templates/recipe-card', {recipe: recipe, time: times[i], image: images[i]}) -%>
              <% } %>
          
            </div>
          </div>
          </div>
          <% } %>

            

            
                  
            <!-- new results layout ends here -->
            <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>

            <script>
              function openModal() {
                document.getElementById("modal").classList.remove("hidden");
              }
              function closeModal() {
                document.getElementById("modal").classList.add("hidden");
              }

              window.addEventListener('load', function() {
                var egg = 'egg';
                var easter = '/easter-egg';
                var body = document.querySelector('body');
                
                replaceTextWithLink(body, egg, easter);
              });

              function replaceTextWithLink(element, keyword, linkURL) {
                if (element.nodeType === Node.TEXT_NODE) {
                  var content = element.textContent;
                  var regex = new RegExp(keyword, 'gi');
                  if (regex.test(content)) {
                    var newContent = content.replace(regex, '<a href="' + linkURL + '">$&</a>');
                    var span = document.createElement('span');
                    span.innerHTML = newContent;
                    element.parentNode.replaceChild(span, element);
                  }
                } else {
                  var childNodes = element.childNodes;
                  for (var i = 0; i < childNodes.length; i++) {
                    replaceTextWithLink(childNodes[i], keyword, linkURL);
                  }
                }
              }




            </script>


<%- include('templates/footer') -%>