<%- include('templates/header') -%>
    <p>Enter each ingredient individually</p>
    <form id="thisForm">
        <input id="ingredient" type="text" name="search" placeholder="Enter an ingredient" />
        <input type="button" value="Add Item" id="addBtn"/>
    </form>
    <div id="list" style="display: flex; justify-content: space-between; width: 25%; flex-wrap: wrap;"></div>
    <form action="/searchIngredients?search=" method="get" id="submitForm" >
        <!-- <input type="text" name="search" value="egg"> -->
        <input id="search" type="submit" value="Search" form="submitForm" style="background-color: lightblue;"/>
    </form>
    <script>
        document.getElementById("addBtn").addEventListener("click", 
        function () {
            var textBox = document.getElementById("ingredient");
            var item = textBox.value;
            var newBox = document.createElement("input");
            newBox.setAttribute("type", "text");
            newBox.setAttribute("name", "search")
            newBox.setAttribute("value", item);
            newBox.setAttribute("class", "ingredientBtn")
            // newBox.setAttribute("disabled", true);
            // newBox.innerHTML += item;
            newBox.addEventListener("click", function () {
                this.remove();
            });
            document.getElementById("submitForm").appendChild(newBox);
            document.getElementById("thisForm").reset();
            var url = document.getElementById("submitForm");
            if (url.getAttribute("action").substring(url.getAttribute("action").length - 1) == "="){
                // url.setAttribute("action",  url.getAttribute("action") + encodeURIComponent(item));
                url.action += item;
            } else {
                // url.setAttribute("action",  url.getAttribute("action") + "," + encodeURIComponent(item));
                url.action += "," + item;
            }   
            console.log("help");
        });
    </script>
    
   
    <% if (recipes) { %>
        <h3>Recipes</h3>
        <% for (let i=0; i < recipes.length; i++) { %>

            <div
                class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= recipes[i].name.replace(/&quot;/g, '\"' ) %></h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Ingredients:
                    <ul>
                        <% for (let j=0; j < recipes[i].ingredientArray.length; j++) {%>
                            <li>
                                <%= recipes[i].ingredientArray[j]%>
                            </li>
                            <% } %>
                    </ul>
                    <p>Servings: <%= recipes[i].servings %>
                    </p>
                    <p>Prep Time: <%= times[i] %>
                    </p>
                    </p>
                <a href="/recipe?id=<%= recipes[i]._id %>&time=<%= times[i] %>"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    View Recipe
                    <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
            <% }} %>
                <%- include('templates/footer') -%>